*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Выполнение проекта */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-areas: 
  "result content__details";
  align-items: end;
  gap: 30px;
  margin: auto;
}

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: result;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-left: -1px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  outline: none;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  outline: none;
  caret-color: transparent;
}

.search-form__textfield:focus {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  outline-offset: 2px;
}

.search-form__textfield:focus-visible {
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
  caret-color: transparent;
}

.search-form__checkbox-list {
  display: flex;
  gap: 16px;
}

.search-form__checkbox +
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  outline: 1px solid #FFF;
}

.search-form__checkbox:checked +
.search-form__pseudo-checkbox {
  border: 1px solid #545050;
  background-color: #FFF;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  align-self: end;
  min-width: 194px;
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline #fff;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  width: 100%;
  height: 100%;
}

.title {
  display: block;
  margin-top: -22px;  /* Для позиционирования по макету, без смещения всего остального контента */
  margin-bottom: 22px;
  margin-left: -2px;
  padding-left: 1px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-width: 399px;
  max-height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 3px;
}

.content__list-item {
  padding-left: 1px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline #fff;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
  color: #FFF;
}

.content__video-card-description-container {
  max-width: 196px;
  margin-top: -3px;
}

.content__video-card-title {
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 0.9;
  text-wrap: wrap;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}